/* Universal Styles */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* banner content container */

.banner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  margin-top: 0;
}

/* header banner */

header {
  display: flex;
  align-items: center;
  width: 960px;
  padding: auto;
  margin-top: 1rem;
  background-color: cadetblue;
  padding: 1rem;
}

header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

header h4 {
  font-size: 1rem;
  color: white;
  padding-right: 340px;
}

nav span {
  margin-left: 2rem;
  color: white;
}

/* main banner */

.slogan-container {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 10rem;
  margin-left: 500px;
}

/* service banner */

.service-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 8rem;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6rem;
}

.service h4 {
  text-align: center;

}
